<!-- app/templates/plan.html -->
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時光旅人 - 旅行規劃</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='plan/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

    {% include 'partials/popup.html' %}
    {% include 'partials/notification.html' %}

    <div class="cf-turnstile" data-sitekey="" data-callback="turnstileCallback" data-action="travel_plan"></div>

    <div id="mapContainer" class="map-container">
        {% include 'partials/mapbox.html' %}
    </div>

    <div class="attraction-container" id="attractionContainer">
    </div>

    <div class="container" id="container">

        <div id="detailContainer" class="detail-container hidden">
            <div class="detail-content">
                <div class="detail-header">
                    <div id="detailText" class="detail-text with-image">
                        <h2 id="detailTitle"></h2>
                        <p id="detailDescription"></p>
                        <p id="detailLocation"></p>
                        <p id="detailTransport"></p>
                        <p id="detailAccommodation"></p>
                        <p id="detailRestaurant"></p>
                        <p id="detailActivity"></p>
                    </div>
                    <div id="detailImageContainer" class="detail-image-container">
                        <img id="detailImage" class="detail-image">
                    </div>
                </div>
                <div id="detailVideos" class="detail-video-container"></div>
                <div class="detail-buttons">
                    <button id="closeDetail" class="action-button">關閉</button>
                </div>
            </div>
        </div>

        <h1>時光旅人(開發介面)</h1>
        <div id="iconContainer">
            <i class="fas fa-map fa-lg icon" id="toggleMap" title="展開地圖"></i>
            <i class="fas fa-landmark fa-lg icon" id="toggleAttractions" title="展開景點"></i>
            <i class="fas fa-calendar-alt fa-lg icon" id="toggleOverview" title="展開行程概覽"></i>
        </div>
        <div id="chatContainer">
            <div id="chatBox" class="loading"></div>
            <div id="inputContainer">
                <input type="text" id="userInput" placeholder="請輸入您的旅行需求...">
                <button id="sendButton">送出</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="{{ url_for('static', filename='plan/script.js') }}"></script>
</body>
</html>
